Repository opentracing-contrib/java-specialagent, pull requests merged in 2020-04, with the labels that each got.

#536 Circle CI
  .circleci/config.yml
  .travis.yml
  opentracing-specialagent/src/main/java/io/opentracing/contrib/specialagent/SpecialAgent.java
  pom.xml
Labels: task

#532 Split CXF rules into server part and client part
  rule/cxf/src/main/java/io/opentracing/contrib/specialagent/rule/cxf/CxfRsClientAgentRule.java
  rule/cxf/src/main/java/io/opentracing/contrib/specialagent/rule/cxf/CxfRsServerAgentRule.java
  rule/cxf/src/main/java/io/opentracing/contrib/specialagent/rule/cxf/CxfWsClientAgentRule.java
  rule/cxf/src/main/java/io/opentracing/contrib/specialagent/rule/cxf/CxfWsServerAgentRule.java
  rule/cxf/src/main/resources/otarules.mf
  rule/cxf/src/test/java/io/opentracing/contrib/specialagent/rule/cxf/CxfTest.java
Labels: request, rule

#559 fix ZuulITest test - "java-spring-rest-template" span not found
  test/zuul/zuul-1.0.0/src/test/java/io/opentracing/contrib/specialagent/test/zuul/ZuulITest.java
  test/zuul/zuul-1.3.1/src/test/java/io/opentracing/contrib/specialagent/test/zuul/ZuulITest.java
Labels: P0, bug, test
