Repository opentracing-contrib/java-specialagent, pull requests merged in 2020-03, with the labels that each got.

#478 Fix spring-websocket Static Deferred Attach
  rule/spring-websocket/src/main/java/io/opentracing/contrib/specialagent/rule/spring/websocket/SpringWebSocketAgentIntercept.java
  rule/spring-websocket/src/main/java/io/opentracing/contrib/specialagent/rule/spring/websocket/SpringWebSocketAgentRule.java
  rule/spring-websocket/src/test/java/io/opentracing/contrib/specialagent/rule/spring/websocket/SpringWebSocketTest.java
  test/spring-websocket/pom.xml
Labels: bug, rule

#476 Add Apache CXF Instrumentation Plugin
  .travis.yml
  opentracing-specialagent/pom.xml
  rule/cxf/pom.xml
  rule/cxf/src/main/java/io/opentracing/contrib/specialagent/rule/cxf/CxfAgentIntercept.java
  rule/cxf/src/main/java/io/opentracing/contrib/specialagent/rule/cxf/CxfRsAgentRule.java
  rule/cxf/src/main/java/io/opentracing/contrib/specialagent/rule/cxf/CxfWsAgentRule.java
  rule/cxf/src/main/resources/otarules.mf
  rule/cxf/src/test/java/io/opentracing/contrib/specialagent/rule/cxf/CxfTest.java
  rule/pom.xml
  test/cxf-jaxrs/.pom-packaging-marker
  test/cxf-jaxrs/cxf-3.3.5/pom.xml
  test/cxf-jaxrs/cxf-3.3.5/src/test/java/io/opentracing/contrib/specialagent/test/cxf/CXFITest.java
  test/cxf-jaxrs/pom.xml
  test/cxf-jaxws/.pom-packaging-marker
  test/cxf-jaxws/cxf-3.3.5/pom.xml
  test/cxf-jaxws/cxf-3.3.5/src/test/java/io/opentracing/contrib/specialagent/test/cxf/CXFITest.java
  test/cxf-jaxws/pom.xml
  test/pom.xml
Labels: request, rule

#497 Add compatibility tests for com.typesafe.akka:akka-http_2.1[123]
  rule/akka-http/pom.xml
Labels: bug, rule

#477 add appache dubbo rpc support
  opentracing-specialagent/pom.xml
  rule/dubbo-2.6/pom.xml
  rule/dubbo-2.6/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo26/DubboAgentIntercept.java
  rule/dubbo-2.6/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo26/DubboRpcAgentRule.java
  rule/dubbo-2.6/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo26/DubboRpcFilter.java
  rule/dubbo-2.6/src/main/resources/otarules.mf
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/CommonHelper.java
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/GreeterService.java
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/GreeterServiceImpl.java
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo26/DubboAgentTest.java
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo26/DubboTest.java
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo26/MockClient.java
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo26/MockServer.java
  rule/dubbo-2.7/pom.xml
  rule/dubbo-2.7/src/main/java/io/opentracing/contrib/specialagent/rule/DubboUtils.java
  rule/dubbo-2.7/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo27/DubboAgentIntercept.java
  rule/dubbo-2.7/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo27/DubboAgentRule.java
  rule/dubbo-2.7/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo27/DubboFilter.java
  rule/dubbo-2.7/src/main/resources/otarules.mf
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/CommonHelper.java
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/GreeterService.java
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/GreeterServiceImpl.java
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo27/DubboAgentTest.java
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo27/DubboTest.java
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo27/MockClient.java
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo27/MockServer.java
  rule/pom.xml
Labels: request, rule

#506 Add CXF interceptor support
  rule/cxf/README.md
  rule/cxf/src/main/java/io/opentracing/contrib/specialagent/rule/cxf/Configuration.java
  rule/cxf/src/main/java/io/opentracing/contrib/specialagent/rule/cxf/CxfAgentIntercept.java
  rule/cxf/src/test/java/io/opentracing/contrib/specialagent/rule/cxf/CxfTest.java
  rule/cxf/src/test/java/io/opentracing/contrib/specialagent/rule/cxf/interceptors/AbstractSpanTagInterceptor.java
  rule/cxf/src/test/java/io/opentracing/contrib/specialagent/rule/cxf/interceptors/ClientSpanTagInterceptor.java
  rule/cxf/src/test/java/io/opentracing/contrib/specialagent/rule/cxf/interceptors/ServerSpanTagInterceptor.java
  test/cxf/cxf-jaxrs-3.3.5/pom.xml
  test/cxf/cxf-jaxrs-3.3.5/src/test/java/io/opentracing/contrib/specialagent/test/cxf/CXFITest.java
  test/cxf/cxf-jaxrs-3.3.5/src/test/java/io/opentracing/contrib/specialagent/test/cxf/interceptors/AbstractSpanTagInterceptor.java
  test/cxf/cxf-jaxrs-3.3.5/src/test/java/io/opentracing/contrib/specialagent/test/cxf/interceptors/ClientSpanTagInterceptor.java
  test/cxf/cxf-jaxrs-3.3.5/src/test/java/io/opentracing/contrib/specialagent/test/cxf/interceptors/ServerSpanTagInterceptor.java
Labels: request, rule

#511 add JDBI integration tests
  .travis.yml
  test/jdbi/.pom-packaging-marker
  test/jdbi/jdbi-2.0.1/pom.xml
  test/jdbi/jdbi-2.0.1/src/test/java/io/opentracing/contrib/specialagent/test/jdbi/JdbiITest.java
  test/jdbi/jdbi-3.12.2/pom.xml
  test/jdbi/jdbi-3.12.2/src/test/java/io/opentracing/contrib/specialagent/test/jdbi/Jdbi3ITest.java
  test/jdbi/pom.xml
  test/pom.xml
Labels: request, test

#512 add Hystrix integration tests
  .travis.yml
  test/hystrix/.pom-packaging-marker
  test/hystrix/hystrix-1.0.2/pom.xml
  test/hystrix/hystrix-1.0.2/src/test/java/io/opentracing/contrib/specialagent/test/hystrix/HystrixITest.java
  test/hystrix/hystrix-1.5.18/pom.xml
  test/hystrix/pom.xml
  test/pom.xml
Labels: request, test

#514 add passCompatibility for Solr Client
  README.md
  rule/apache-httpclient/pom.xml
Labels: request, rule

#515 Add span decorator customization support for feign rule plugin
  rule/feign/README.md
  rule/feign/src/main/java/io/opentracing/contrib/specialagent/rule/feign/Configuration.java
  rule/feign/src/main/java/io/opentracing/contrib/specialagent/rule/feign/FeignAgentIntercept.java
  rule/feign/src/test/java/io/opentracing/contrib/specialagent/rule/feign/ConfigurationTest.java
  rule/feign/src/test/java/io/opentracing/contrib/specialagent/rule/feign/FeignTest.java
  rule/feign/src/test/java/io/opentracing/contrib/specialagent/rule/feign/MockSpanDecorator.java
Labels: request, rule

#505 add rules for Dubbo 2.6 and 2.7
  .travis.yml
  opentracing-specialagent/pom.xml
  rule/dubbo-2.6/pom.xml
  rule/dubbo-2.6/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo26/DubboAgentIntercept.java
  rule/dubbo-2.6/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo26/DubboRpcAgentRule.java
  rule/dubbo-2.6/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo26/DubboRpcFilter.java
  rule/dubbo-2.6/src/main/resources/otarules.mf
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/GreeterService.java
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/GreeterServiceImpl.java
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo26/DubboAgentTest.java
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo26/MockClient.java
  rule/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo26/MockServer.java
  rule/dubbo-2.7/pom.xml
  rule/dubbo-2.7/src/main/java/io/opentracing/contrib/specialagent/rule/DubboUtils.java
  rule/dubbo-2.7/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo27/DubboAgentIntercept.java
  rule/dubbo-2.7/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo27/DubboAgentRule.java
  rule/dubbo-2.7/src/main/java/io/opentracing/contrib/specialagent/rule/dubbo27/DubboFilter.java
  rule/dubbo-2.7/src/main/resources/otarules.mf
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/GreeterService.java
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/GreeterServiceImpl.java
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo27/DubboAgentTest.java
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo27/MockClient.java
  rule/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/rule/dubbo27/MockServer.java
  rule/pom.xml
  test/dubbo/.pom-packaging-marker
  test/dubbo/dubbo-2.6/pom.xml
  test/dubbo/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/test/dubbo26/DubboITest.java
  test/dubbo/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/test/dubbo26/GreeterService.java
  test/dubbo/dubbo-2.6/src/test/java/io/opentracing/contrib/specialagent/test/dubbo26/GreeterServiceImpl.java
  test/dubbo/dubbo-2.7/pom.xml
  test/dubbo/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/test/dubbo27/DubboITest.java
  test/dubbo/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/test/dubbo27/GreeterService.java
  test/dubbo/dubbo-2.7/src/test/java/io/opentracing/contrib/specialagent/test/dubbo27/GreeterServiceImpl.java
  test/dubbo/pom.xml
  test/pom.xml
Labels: request, rule

#520 add spring-data integration tests
  .travis.yml
  README.md
  test/pom.xml
  test/spring-data/.pom-packaging-marker
  test/spring-data/pom.xml
  test/spring-data/spring-data-1.7.1/pom.xml
  test/spring-data/spring-data-1.7.1/src/test/java/io/opentracing/contrib/specialagent/test/spring/data/SpringDataITest.java
  test/spring-data/spring-data-1.7.1/src/test/java/io/opentracing/contrib/specialagent/test/spring/data/User.java
  test/spring-data/spring-data-1.7.1/src/test/java/io/opentracing/contrib/specialagent/test/spring/data/UserRepository.java
  test/spring-data/spring-data-2.2.6/pom.xml
  test/spring-data/spring-data-2.2.6/src/test/java/io/opentracing/contrib/specialagent/test/spring/data/SpringDataITest.java
  test/spring-data/spring-data-2.2.6/src/test/java/io/opentracing/contrib/specialagent/test/spring/data/User.java
  test/spring-data/spring-data-2.2.6/src/test/java/io/opentracing/contrib/specialagent/test/spring/data/UserRepository.java
Labels: request, rule
