Repository opentracing-contrib/java-specialagent, pull requests merged in 2020-02, with the labels that each got.

#402 create tags from http headers
  README.md
  rule/servlet/README.md
  rule/servlet/pom.xml
  rule/servlet/src/main/java/io/opentracing/contrib/specialagent/rule/servlet/InterceptUtil.java
  rule/servlet/src/main/java/io/opentracing/contrib/web/servlet/filter/ServletFilterSpanDecorator.java
  rule/servlet/src/main/java/io/opentracing/contrib/web/servlet/filter/StandardTagsServletFilterSpanDecorator.java
  rule/servlet/src/main/java/io/opentracing/contrib/web/servlet/filter/decorator/HttpHeaderServletFilterSpanDecorator.java
  rule/servlet/src/main/java/io/opentracing/contrib/web/servlet/filter/decorator/HttpHeaderTagParser.java
  rule/servlet/src/test/java/io/opentracing/contrib/specialagent/rule/servlet/InterceptUtilTest.java
  rule/servlet/src/test/java/io/opentracing/contrib/specialagent/rule/servlet/JettyServletTest.java
  rule/servlet/src/test/java/io/opentracing/contrib/specialagent/rule/servlet/TomcatServletTest.java
  rule/servlet/src/test/java/io/opentracing/contrib/web/servlet/filter/decorator/HttpHeaderTagParserTest.java
Labels: request, rule

#324 Adds mule 4 instrumentation
  .travis.yml
  opentracing-specialagent/pom.xml
  rule/grizzly-http-server/pom.xml
  rule/mule-4-core/pom.xml
  rule/mule-4-core/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/AbstractProcessorChainIntercept.java
  rule/mule-4-core/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/AbstractProcessorChainRule.java
  rule/mule-4-core/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/EventContextRule.java
  rule/mule-4-core/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/PrivilegedEventRule.java
  rule/mule-4-core/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/SpanAssociations.java
  rule/mule-4-core/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/SpanManagerInterceptor.java
  rule/mule-4-core/src/main/resources/otarules.mf
  rule/mule-4-core/src/test/java/io/opentracing/contrib/specialagent/rule/mule4/CoreTest.java
  rule/mule-4-core/src/test/resources/log4j2-test.xml
  rule/mule-4-http-service/pom.xml
  rule/mule-4-http-service/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/service/http/MuleFilterChainAgentIntercept.java
  rule/mule-4-http-service/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/service/http/MuleFilterChainAgentRule.java
  rule/mule-4-http-service/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/service/http/TracedMuleFilterChainBuilder.java
  rule/mule-4-http-service/src/main/resources/otarules.mf
  rule/mule-4-http-service/src/test/java/io/opentracing/contrib/specialagent/rule/mule4/service/http/HttpServiceTest.java
  rule/mule-4-module-artifact/pom.xml
  rule/mule-4-module-artifact/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/module/artifact/FilteringArtifactAgentIntercept.java
  rule/mule-4-module-artifact/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/module/artifact/FilteringArtifactClassLoaderRule.java
  rule/mule-4-module-artifact/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/module/artifact/FineGrainedControlAgentIntercept.java
  rule/mule-4-module-artifact/src/main/java/io/opentracing/contrib/specialagent/rule/mule4/module/artifact/FineGrainedControlClassLoaderRule.java
  rule/mule-4-module-artifact/src/main/resources/otarules.mf
  rule/mule-4-module-artifact/src/test/java/io/opentracing/contrib/specialagent/rule/mule4/module/artifact/FilteringArtifactClassLoaderTest.java
  rule/mule-4-module-artifact/src/test/java/io/opentracing/contrib/specialagent/rule/mule4/module/artifact/FineGrainedControlClassLoaderTest.java
  rule/mule-4-module-artifact/src/test/java/io/opentracing/contrib/specialagent/rule/mule4/module/artifact/copied/DelegatingArtifactClassLoader.java
  rule/mule-4-module-artifact/src/test/resources/classloader-test-hello.jar
  rule/pom.xml
  test/mule/.pom-packaging-marker
  test/mule/mule-4-app/mule-artifact.json
  test/mule/mule-4-app/pom.xml
  test/mule/mule-4-app/src/main/mule/test-config.xml
  test/mule/mule-4-app/src/main/resources/log4j2.xml
  test/mule/mule-4.2.2/pom.xml
  test/mule/mule-4.2.2/src/test/java/io/opentracing/contrib/specialagent/test/Mule4ContainerITest.java
  test/mule/mule-4.2.2/src/test/mule-home/.gitignore
  test/mule/mule-4.2.2/src/test/mule-home/apps/.gitignore
  test/mule/mule-4.2.2/src/test/mule-home/domains/default-anchor.txt
  test/mule/mule-4.2.2/src/test/mule-home/domains/default/.gitkeep
  test/mule/mule-4.2.2/src/test/mule-home/services/.gitignore
  test/mule/mule-4.2.2/src/test/resources/log4j2.xml
  test/mule/pom.xml
  test/pom.xml
Labels: request, rule

#425 enable deferred attach for spring-kafka integration tests
  test/spring-kafka/pom.xml
  test/spring-webmvc/spring-webmvc-5.0.0/pom.xml
  test/spring-webmvc/spring-webmvc-5.2.1/pom.xml
  test/zuul/pom.xml
Labels: bug, rule

#435 Move duplicated onError(...) method to utility class
  opentracing-specialagent-util/src/main/java/io/opentracing/contrib/specialagent/SpanUtil.java
  rule/akka-actor/src/main/java/io/opentracing/contrib/specialagent/rule/akka/actor/AkkaAgentIntercept.java
  rule/akka-http/src/main/java/io/opentracing/contrib/specialagent/rule/akka/http/AkkaAgentIntercept.java
  rule/asynchttpclient/src/main/java/io/opentracing/contrib/specialagent/rule/asynchttpclient/TracingAsyncHandler.java
  rule/aws-sdk-2/src/main/java/io/opentracing/contrib/specialagent/rule/aws/sdk2/TracingExecutionInterceptor.java
  rule/google-http-client/src/main/java/io/opentracing/contrib/specialagent/rule/googlehttpclient/GoogleHttpClientAgentIntercept.java
  rule/httpurlconnection/src/main/java/io/opentracing/contrib/specialagent/rule/httpurlconnection/HttpURLConnectionAgentIntercept.java
  rule/jedis/src/main/java/io/opentracing/contrib/specialagent/rule/jedis/JedisAgentIntercept.java
  rule/netty/src/main/java/io/opentracing/contrib/specialagent/rule/netty/TracingServerChannelInboundHandlerAdapter.java
  rule/play-ws/src/main/java/io/opentracing/contrib/specialagent/rule/playws/TracingAsyncHandler.java
  rule/play/src/main/java/io/opentracing/contrib/specialagent/rule/play/PlayAgentIntercept.java
  rule/pulsar-client/src/main/java/io/opentracing/contrib/specialagent/rule/pulsar/client/PulsarClientAgentIntercept.java
  rule/pulsar-functions/src/main/java/io/opentracing/contrib/specialagent/rule/pulsar/functions/PulsarFunctionsAgentIntercept.java
  rule/rabbitmq-client/src/main/java/io/opentracing/contrib/specialagent/rule/rabbitmq/client/RabbitMQAgentIntercept.java
  rule/servlet/src/main/java/io/opentracing/contrib/web/servlet/filter/StandardTagsServletFilterSpanDecorator.java
  rule/spring-jms/src/main/java/io/opentracing/contrib/specialagent/rule/spring/jms/SpringJmsAgentIntercept.java
  rule/spring-kafka/src/main/java/io/opentracing/contrib/specialagent/rule/spring/kafka/SpringKafkaAgentIntercept.java
  rule/spring-messaging/src/main/java/io/opentracing/contrib/specialagent/rule/spring/messaging/copied/OpenTracingChannelInterceptor.java
  rule/spring-rabbitmq/src/main/java/io/opentracing/contrib/specialagent/rule/spring/rabbitmq/SpringRabbitMQAgentIntercept.java
  rule/spring-scheduling/src/main/java/io/opentracing/contrib/specialagent/rule/spring/scheduling/SpringSchedulingAgentIntercept.java
  rule/spring-web-3/src/main/java/io/opentracing/contrib/specialagent/rule/spring/web3/SpringWebAgentIntercept.java
  rule/spring-web-4.0/src/main/java/io/opentracing/contrib/specialagent/rule/spring/web40/copied/RestTemplateSpanDecorator.java
  rule/spring-web-4.0/src/main/java/io/opentracing/contrib/specialagent/rule/spring/web40/copied/TracingListenableFutureCallback.java
  rule/spring-web-4/src/main/java/io/opentracing/contrib/specialagent/rule/spring/web4/copied/RestTemplateSpanDecorator.java
  rule/spring-web-4/src/main/java/io/opentracing/contrib/specialagent/rule/spring/web4/copied/TracingListenableFutureCallback.java
  rule/spring-web-5/src/main/java/io/opentracing/contrib/specialagent/rule/spring/web5/copied/RestTemplateSpanDecorator.java
  rule/spring-webflux/src/main/java/io/opentracing/contrib/specialagent/rule/spring/webflux/copied/WebClientSpanDecorator.java
  rule/spring-webflux/src/main/java/io/opentracing/contrib/specialagent/rule/spring/webflux/copied/WebFluxSpanDecorator.java
  rule/spring-websocket/src/main/java/io/opentracing/contrib/specialagent/rule/spring/websocket/SpringWebSocketAgentIntercept.java
  rule/spymemcached/src/main/java/io/opentracing/contrib/specialagent/rule/spymemcached/TracingOperationCallback.java
  rule/zuul/src/main/java/io/opentracing/contrib/specialagent/rule/zuul/TracePostZuulFilter.java
Labels: request, rule

#439 Match service name
  opentracing-specialagent-util/src/main/java/io/opentracing/contrib/specialagent/adaption/AdaptionRuleParser.java
  opentracing-specialagent-util/src/main/java/io/opentracing/contrib/specialagent/adaption/AdaptionRuleType.java
  opentracing-specialagent-util/src/main/java/io/opentracing/contrib/specialagent/adaption/Adaptive.java
  opentracing-specialagent-util/src/main/java/io/opentracing/contrib/specialagent/adaption/AdaptiveSpanBuilder.java
  opentracing-specialagent-util/src/main/java/io/opentracing/contrib/specialagent/adaption/AdaptiveTracer.java
  opentracing-specialagent-util/src/main/java/io/opentracing/contrib/specialagent/adaption/README.md
  opentracing-specialagent-util/src/main/java/io/opentracing/contrib/specialagent/adaption/TracerIntrospector.java
  opentracing-specialagent-util/src/test/java/io/opentracing/contrib/specialagent/adaption/AdaptionRuleParserTest.java
  opentracing-specialagent-util/src/test/java/io/opentracing/contrib/specialagent/adaption/AdaptiveTracerScenario.java
  opentracing-specialagent-util/src/test/java/io/opentracing/contrib/specialagent/adaption/AdaptiveTracerTest.java
  opentracing-specialagent-util/src/test/java/io/opentracing/contrib/specialagent/adaption/TracerIntrospectorTest.java
  opentracing-specialagent-util/src/test/resources/spanCustomizer/error_json_invalidType.json
  opentracing-specialagent-util/src/test/resources/spanCustomizer/error_json_nonStringType.json
  opentracing-specialagent-util/src/test/resources/spanCustomizer/error_json_outputNotObject.json
  opentracing-specialagent-util/src/test/resources/spanCustomizer/error_json_ruleNotObject.json
  opentracing-specialagent-util/src/test/resources/spanCustomizer/error_serviceName_asOutput.json
  opentracing-specialagent-util/src/test/resources/spanCustomizer/error_serviceName_withKey.json
  opentracing-specialagent-util/src/test/resources/spanCustomizer/operationName_ignore.json
  opentracing-specialagent-util/src/test/resources/spanCustomizer/serviceName_multiOutput.json
  opentracing-specialagent-util/src/test/resources/spanRules.json
Labels: core, request
